<form class="form">

	<h3 class="form__title">Contact Us</h3>
	
	<label  class="form__label clearfix" for="nameInput">
		<span  class="form__label-title">Your <b>Name</b></span>
		<input class="form__input form__input_name" type="text"  id="nameInput">
	</label>

	<label  class="form__label clearfix" for="emailInput">
		<span>Your <b>Email</b></span>
		<input class="form__input form__input_email" type="email" id="emailInput">
	</label>

	<label  class="form__label clearfix" for="messageInput">
		<span>Your <b>Message</b></span>
	</label>	
	<textarea class="form__textarea"  rows="6" cols="25"  id="messageInput">
	
	</textarea>

	<a class="form__submit"><i class="fas fa-paper-plane"></i> SEND</a>

</form>