<form id="#contactForm" class="form" action="https://formspree.io/{{ site.email }}" method="POST" >

	<h3 class="form__title">Contact Us</h3>
	
	<label  class="form__label clearfix" for="nameInput">
		<span  class="form__label-title">Your <b>Name</b></span>
		<input class="form__input form__input_name" type="text" id="nameInput" name="Name" >
	</label>

	<label  class="form__label clearfix" for="emailInput">
		<span>Your <b>Email</b></span>
		<input class="form__input form__input_email" type="email" id="emailInput"  name="Email" >
	</label>

	<label  class="form__label clearfix" for="messageInput">
		<span>Your <b>Message</b></span>
	</label>	
	<textarea class="form__textarea"  rows="6" cols="25"  id="messageInput"   name="Message" >
	
	</textarea>
	<input id="return" type="hidden" name="_next" value="" />

		<input disabled class="form__submit"  type="submit" value="Please, fill out all fields" alt>

</form>

<script>
	$('.form__input_name').change(function(){
		var userName =  $('#nameInput').val();
		var returnUrl = '{{ site.url }}/thanks#' +  userName.replace(/\s/g, '--');  
		$('#return').val(returnUrl); 
	})

	$('.form__input').change(function(){
		var isValid;
		$("input").each(function() {
   			var element = $(this);
   			if (element.val() == "") {
       			isValid = false;
   			}
		});
		console.log(isValid);
		if(isValid!=false) {
        	$('.form__submit').val('SEND');
        	$('.form__submit').prop( 'disabled', false );
    	}
    	else {
        	$('.form__submit').val('Please, fill out all fields');
        	$('.form__submit').prop( 'disabled', true );    		
    	}
	})

</script>