$family-sans-serif: 'Montserrat', sans-serif;


/* COLORS */

$grey: #454545;
$light-grey: #F3F3F3;
$blue: #55ABFD;
$deep-blue: #02003D;
$light-blue: #CCE6FF;
$purple: #CA57FF;
$dark: #21152C;


/* TYPOGRAPHY */

$font24: 18px;
$font36: 28px;
$font48: 36px;
$font82: 58px;


$container-width: 1200px;
$half-container-width: 600px;




$trans-base: .3s ease-in-out;