@import "variables";


.main_3d {
	padding: 0;
}

.section_clients{
	background-color: $deep-blue;
}

.section_web-3d-intro {
	    padding: 3em 0 5em;
	color: #fff;
	background-color: $deep-blue;
}

.intro__title {
	text-align: center;
	font-size: $font36;
	padding: 1em;
	line-height: 150%;
}


.intro__feature {
	    width: 25%;
    float: left;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;

}

.intro__icon {
	width: 150px;
	height: 150px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.intro__icon_rocket {
	background-image: url(/assets/img/icons/rocket.png);
}

.intro__icon_browsers {
	background-image: url(/assets/img/icons/browsers.png);
}

.intro__icon_setup {
	background-image: url(/assets/img/icons/setup.png);
}

.intro__icon_bricks {
	background-image: url(/assets/img/icons/bricks.png);
}


.intro__icon-title {
	text-transform: uppercase;
}

.intro__icon-description {
	font-weight: 100;
}


/* Features */

.section_features {
	padding: 1em 0 3em;
}

.feature { 
	max-width: 1200px;
}

.feature__img {
	width: 66.6%;
}
.feature__img img{
	    max-width: 100%;
}

.feature__description p {
	margin-top:0;
}
.feature__description h4 {
	margin-bottom: .5em;
}


/* Funnel */

.section_funnel {
	background-color: $light-blue;
}


.section__footer {
	background-color: $deep-blue;
	color: #fff;
	padding: 2em;
}

.section__footer-text {
	max-width: 80%;
	padding: 2em;
	font-size: $font24;
	line-height: 150%;
	 
}

.section__footer-icon {
	max-width: 20%;
 
	width: 80px;
	height: 80px;
} 

.section__footer-icon img {
	max-width: 100%;
}

.funnel__infographic{
	    width: 100%;
    padding-bottom: 60%;
    position: relative;
    overflow: hidden;
}

.funnel__infographic svg {
	    position: absolute;
    max-width: 100%;
    transform: translatey(-50%);
    top: 50%;
}

.funnel__step{
	transition: .4s;
}

.funnel__step:hover{
	transform:translateX(-3%);
}


/* Integrations */

.section_integrations {
	padding: 3em 0;
}

.integration {
	width: 48%;
	float: left;
	background-color: $blue;
	color: #fff;
    padding: 5%;
    box-sizing: border-box;
}

.integration_right  {
	float: right;
}

.integration__title {
	text-align: center;
}

.integration__description {
	line-height: 150%;
}

.integration__icon {
	width: 150px;
	height: 150px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.integration__icon_crm {
	background-image: url(/assets/img/icons/crm-blue.png);
}
.integration__icon_cms {
	background-image: url(/assets/img/icons/cms-blue.png);
}

.integration__logos {
	height: 100px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	margin-top: 2em;
}

.integration__logos_crm {
	background-image: url(/assets/img/CRM-logos.png);
}

.integration__logos_cms {
	background-image: url(/assets/img/CMS-logos.png);
}

.integrations__contact {
	color: $blue;
	padding: 3em 0 0;
	text-align: center;
}

.integrations__contact a {
	font-weight: bold;
}

